body {
  padding: 30px;
}
header {
  background: lightblue;
}
section {
  background: lightgreen;
  width: 75%;
  float: left;
}
article {
  background: white;
  margin: 0 0 1rem 0;
}
aside {
  background: pink;
  width: 25%;
  float: right;
}
header, article, section, 
.module {
  padding: 1rem;
}
.change {

  /*box-sizing: borderbox;*/
  display: flex;
}