footer{
	background: gray;
	position: fixed;
	height: 50px;
	width: 100%;
	bottom: 0;
}

nav{
	background: gray;
	padding: 20px;
}
.div{
	display: inline-flex;
	flex-direction: row;
	padding: 10px;

}
section article .div{
	padding: 20px;
}