.body{
	background-color: #F06292;	
}
.form input{
	padding:50px;
  	width:10px;
  	height: 10px;
}
li{
	list-style-type: none;
	border-left: 40px;
}
label{
	text-align: left;
}
fieldset{
	width: 100px;
	background-color: white;
}
