body{
	
}
input{
	text-align: left;

}
table{ 
	/*width:100%;?*/
	border-collapse: separate;
	border-spacing: 32px;
	border-top: 2px solid #d9d9d9;
	border-left: 2px solid #d9d9d9;
	border-right: 2px solid #d9d9d9;
	border-bottom: 2px solid #d9d9d9;
}
td th{
	/*width: 100%;*/
	border-bottom:1px solid #fff ;
	padding: 30px;
}