.img{

	background: block;
  	border: 1px solid black;
  	float: right;
  	height: 300px;
  	width: auto;
  	margin: 8px 0 0 20px;
  	padding: 4px;
}
.p{
	font-size:  20px;
	font-style: italic;
	text-align: left;

}
.body{
	background-color: yellow;
}
.video{
	width: auto;
	height:300px;
	float: left;
	border: 1px solid black;
	margin: 8px 0 0 20px;
	background: block;
}
.div{
	height: auto;
	width: 300px;

}